{% include 'layouts/header.twig' %}
{% include 'layouts/adminNav.twig' %}

<div class="container">
    <div class="card p-3 mt-5">
        <table id="table_id" class="display table table-striped table-bordered">

            <thead>
            <tr>
                <th>Name</th>
                <th>ID</th>
                <th>Failed pass-reset until blocked</th>
                <th>Blocked</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr id="user{{ user['id'] }}">
                    <td>{{ user['name'] }}</td>
                    <td>{{ user['id'] }}</td>
                    <td>{{ user['fails_left'] }}</td>
                    <td>{{ user['blocked'] }}</td>
                    <td class="d-flex flex-row justify-content-between">
                        <span>{{ user['email'] }}</span>
                        <button class="deleteThis" id="deleteUser_{{ user['id'] }}">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
</div>
